<a href="https://colab.research.google.com/github/VictorBelle38/MachineLearningProject/blob/main/Machine_Learning_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**LOAD DATA**

In [27]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [28]:
delaney = pd.read_csv('/content/delaney_solubility_with_descriptors.csv')

In [29]:
delaney.head().reset_index(drop=True)

   MolLogP    MolWt  NumRotatableBonds  AromaticProportion  logS
0   2.5954  167.850                0.0                 0.0 -2.18
1   2.3765  133.405                0.0                 0.0 -2.00
2   2.5938  167.850                1.0                 0.0 -1.74
3   2.0289  133.405                1.0                 0.0 -1.48
4   2.9189  187.375                1.0                 0.0 -3.04

# **DATA SEPARATION**

In [30]:
X = delaney.drop('logS', axis=1)
y = delaney['logS']
x
y

0      -2.180
1      -2.000
2      -1.740
3      -1.480
4      -3.040
        ...
1139    1.144
1140   -4.925
1141   -3.893
1142   -3.790
1143   -2.581
Name: logS, Length: 1144, dtype: float64

#**DATA SPLITTING**

In [31]:
import sklearn.model_selection as ms
x_train, x_test, y_train, y_test = ms.train_test_split(x, y, test_size=0.2, random_state= 100)

In [33]:
x_train, x_test, y_train, y_test = ms.train_test_split(
    x,
    y,
    test_size=0.2,
    random_state=100  )

In [36]:
x_test

822    -3.380
118    -8.010
347    -2.160
1123   -1.170
924    -0.730
        ...
1114   -4.130
427    -9.018
711    -0.600
4      -3.040
948    -2.900
Name: logS, Length: 229, dtype: float64

In [37]:
y_test

822    -3.380
118    -8.010
347    -2.160
1123   -1.170
924    -0.730
        ...
1114   -4.130
427    -9.018
711    -0.600
4      -3.040
948    -2.900
Name: logS, Length: 229, dtype: float64

# **BUILDING MODEL**

## **LINEAR REGRESSION**

## **RANDOM FOREST**

# **EVALUETE MODEL PERFORMANCE**